In [13]:
import pandas as pd

In [14]:
weight_list = [115, 100, 90, 95]
height_list = [1.80, 1.81, 1.82, 1.83]

w_series = pd.Series(weight_list)
h_series = pd.Series(height_list)

In [15]:
df = pd.DataFrame([19, 20, 21, 22], columns=['age'])
df['weight'] = w_series
df['height'] = h_series
df

   age  weight  height
0   19     115    1.80
1   20     100    1.81
2   21      90    1.82
3   22      95    1.83

In [16]:
def calculate_bmi():
    weights = df['weight']
    heights = df['height']
    bmi = []
    for w,h in zip(weights, heights):
        b = w/(h*h)
        bmi.append(b)
    return bmi

In [17]:
bmi = calculate_bmi()

In [20]:
df['BMI'] = round(df['BMI'], 1) # round off to 1 significant place
df

   age  weight  height   BMI
0   19     115    1.80  35.5
1   20     100    1.81  30.5
2   21      90    1.82  27.2
3   22      95    1.83  28.4