In [1]:
from pyspark.sql import SparkSession

# Initialize SparkSession
spark = SparkSession.builder \
    .appName("DataFrameMapFilterExample") \
    .getOrCreate()

In [2]:
spark

In [7]:
df = spark.read.csv(header=True, path='BasicDataframe.csv', inferSchema=True)
df.show()

+-------+---+------+----------+----------+
|   Name|Age|Salary|Department|Experience|
+-------+---+------+----------+----------+
|  Pawan| 26| 50000| Furniture|       4.0|
|Chandar| 55| 70000| Furniture|      20.0|
| Sanjay| 22| 35000|Operations|       1.0|
|  Anand| 25| 20000| Furniture|       1.0|
+-------+---+------+----------+----------+

In [8]:
# Map operation: adding 1 to age
mapped_df = df.withColumn("Salary", df["Salary"] * 2)
mapped_df.show()

+-------+---+------+----------+----------+
|   Name|Age|Salary|Department|Experience|
+-------+---+------+----------+----------+
|  Pawan| 26|100000| Furniture|       4.0|
|Chandar| 55|140000| Furniture|      20.0|
| Sanjay| 22| 70000|Operations|       1.0|
|  Anand| 25| 40000| Furniture|       1.0|
+-------+---+------+----------+----------+

In [9]:
# Map operation: adding 1 to age
filtered_df = df.filter(df["Salary"] >60000)
filtered_df.show()

+-------+---+------+----------+----------+
|   Name|Age|Salary|Department|Experience|
+-------+---+------+----------+----------+
|Chandar| 55| 70000| Furniture|      20.0|
+-------+---+------+----------+----------+